This data shows how U.S.A elections work.
When citizens cast their ballots for president in the popular vote, they elect a slate of electors. Electors then cast the votes that decide who becomes president of the United States. Usually, electoral votes align with the popular vote in an election

In [ ]:
%load_ext sql
%sql sqlite://

'Connected: @None'

In [ ]:
import csv
import pandas as pd
with open("GrandElectors.csv","r")as f:
  GrandElectors= pd.read_csv(f, index_col = 0, encoding = "utf-8")
%sql DROP TABLE if EXISTS GrandElectors;
%sql PERSIST GrandElectors
%sql SELECT*FROM GrandElectors LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Alabama', 9),
 ('Alaska', 3),
 ('Arizona', 11),
 ('Arkansas', 6),
 ('California', 55)]

In [ ]:
with open("Population.csv","r")as f:
  Population = pd.read_csv(f,index_col = 0,encoding = "utf-8")
%sql DROP TABLE if EXISTS Population
%sql PERSIST Population
%sql SELECT * FROM Population LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('CALIFORNIA', 39144818),
 ('TEXAS', 27469114),
 ('FLORIDA', 20271272),
 ('NEW YORK', 19795791),
 ('ILLINOIS', 12859995)]

In [ ]:
#Converting GrandElectorsb to upper case
%%sql
UPDATE GrandElectors
SET State = UPPER(State);

 * sqlite://
51 rows affected.

[]

In [ ]:
%sql SELECT * FROM GrandElectors LIMIT 5 ;

 * sqlite://
Done.

[('ALABAMA', 9),
 ('ALASKA', 3),
 ('ARIZONA', 11),
 ('ARKANSAS', 6),
 ('CALIFORNIA', 55)]

In [ ]:
%%sql 
SELECT GrandElectors,GrandElectors.State,Population
FROM GrandElectors INNER JOIN Population
ON GrandElectors.State = Population.State
LIMIT 5;

 * sqlite://
Done.

[(9, 'ALABAMA', 4858979),
 (3, 'ALASKA', 738432),
 (11, 'ARIZONA', 6828065),
 (6, 'ARKANSAS', 2978204),
 (55, 'CALIFORNIA', 39144818)]

In [ ]:
%%sql
UPDATE Population
SET State= "DC"
WHERE State = "DISTRICT OF COLUMBIA";

 * sqlite://
1 rows affected.

[]

In [ ]:
%%sql
SELECT * FROM Population
  WHERE State = "DC"

 * sqlite://
Done.

[('DC', 672228)]

In [ ]:
%%sql
SELECT GrandElectors,GrandElectors.State,Population,(GrandElectors/Population)AS "Ratio"
FROM GrandElectors INNER JOIN Population
ON GrandElectors.State = Population.State
LIMIT 5;

 * sqlite://
Done.

[(9, 'ALABAMA', 4858979, 0),
 (3, 'ALASKA', 738432, 0),
 (11, 'ARIZONA', 6828065, 0),
 (6, 'ARKANSAS', 2978204, 0),
 (55, 'CALIFORNIA', 39144818, 0)]

In [ ]:
%%sql
SELECT GrandElectors,GrandElectors.State,Population,(GrandElectors/Population)AS "Ratio"
FROM GrandElectors INNER JOIN Population
ON GrandElectors.State = Population.State
ORDER BY Ratio DESC LIMIT 5;

 * sqlite://
Done.

[(9, 'ALABAMA', 4858979, 0),
 (3, 'ALASKA', 738432, 0),
 (11, 'ARIZONA', 6828065, 0),
 (6, 'ARKANSAS', 2978204, 0),
 (55, 'CALIFORNIA', 39144818, 0)]

In [ ]:
%%sql
SELECT GrandElectors,State,
SUM(GrandElectors) OVER (ORDER BY Population) as RunningTotal
FROM(GrandElectors);

 * sqlite://
(sqlite3.OperationalError) near "(": syntax error
[SQL: SELECT GrandElectors,State,
SUM(GrandElectors) OVER (ORDER BY Population) as RunningTotal
FROM(GrandElectors);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql
SELECT SUM(GrandElectors)*0.5
FROM GrandElectors;

 * sqlite://
Done.

[(269.0,)]